/* ScrollToTopButton.css */
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 999; /* Set a high z-index to ensure it appears above other elements */
  }
  
  .scroll-to-top-button:hover {
    background-color: #0056b3;
  }
  